.logo {
  text-decoration: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 2;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #111;
}

.navbar-icon {
  font-size: 1.5em;
}

.link-no-style {
  text-decoration: none;
  color: #111;
}

.link-no-style:hover {
  text-decoration: underline;
  color: #111;
}

.App-link {
  color: #61dafb;
}

.book-img-link {
  display: flex;
  justify-content: center;
}

.book-img {
  max-height: 20em;
  object-fit: contain;
  margin-bottom: 1em;
}

.card-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.card-desc-box {
  color: #111;
  text-decoration: none;
}

.card-desc-box:hover {
  text-decoration: underline;
}

.book-title {
  text-decoration: none;
}

.book-price {
  text-decoration: none;
  color: #cc3535;
}

.book-subtitle {
  text-decoration: none;
}

.book-img-big {
  width: 100%;
}

.icon {
  color: black;
  font-size: 1.7em;
  cursor: grab;
}

.cart-book-img {
  max-height: 7em;
  object-fit: contain;
}

.button-close {
  color: #cc3535;
  font-size: 1.4em;
  cursor: grab;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
